.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, auto));
  grid-template-rows: repeat(auto-fill, minmax(300px, auto));
  grid-gap: 10px;
  text-align: center;
  width: 100%;
  position: relative;

}