.Grid {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, auto));
  grid-template-rows: repeat(auto-fill, minmax(300px, auto));
  grid-gap: 10px;
  text-align: center;

  height: 95vh;
  width: 100%;
  background: black;
  position: relative;

}