.titleModal {
  color: white;
}

input.inputModal {
  width: 100% !important;
}

.ReactModal__Content.ReactModal__Content--after-open {
  background-color: rgb(23, 23, 23) !important;
}

input.submitModal {
  width: 103%;
  background-color: grey;
  color: white;
}